<p>a works!</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="first-name">First Name : </label>
        <input id="first-name" type="text" formControlName="firstName">
                <br>
        <label for="last-name">Last Name : </label>
        <input id="last-name" type="text" formControlName="lastName">

        <div formGroupName="address">
                <h2>Address</h2>

                <br>

                <label for="street">Street: </label>
                <input id="street" type="text" formControlName="street">

                <br>

                <label for="city">City: </label>
                <input id="city" type="text" formControlName="city">

                <br>

                <label for="state">State: </label>
                <input id="state" type="text" formControlName="state">

                <br>
                
                <label for="zip">Zip Code: </label>
                <input id="zip" type="text" formControlName="zip">
        </div>

        <p>"complete the process by click button"</p>
        <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit">Click</button>

        <p>Form Status: {{ profileForm.status }}</p>

</form>

<h1>Not Working properly</h1>
<h1>Not Working properly</h1>
<button (click)="submitNews()" >Submit news</button>