<p>profile-view works!</p>
<button routerLink="a"> A </button>
<button routerLink="b"> B </button>
<button routerLink="c"> C </button>
<button routerLink="d"> D </button>
<button routerLink="e"> E </button>
<button routerLink="f"> F </button>
<button routerLink="g"> G </button>
<button routerLink="h"> H </button>
<button routerLink="i"> I </button>
<button routerLink="j"> J </button>
<button routerLink="k"> K </button>
<button routerLink="l"> L </button>
<button routerLink="m"> M </button>
<button routerLink="n"> N </button>
<button routerLink="o"> O </button>
<button routerLink="p"> P </button>


<router-outlet></router-outlet>