<p>f works!   ----------------Not working properly</p>
<form class="example-form" [formGroup]="profile" (ngSubmit)="submit()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input type="text"
        placeholder="Pick one"
        aria-label="Number"
         matInput
        [formGroup]="profile"
         [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Headline</mat-label>
        <input matInput formControlName="lname">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Detailes News</mat-label>
        <textarea matInput formControlName="fname"></textarea>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
    </mat-form-field>

    <mat-divider></mat-divider>

    <button type="submit" mat-flat-button color="primary" [disabled]="!profile.valid" >CLick ME</button>

</form>